!!!
html
  head
    title SoundCloud OnTimedComments

    meta(content='SoundCloud OnTimedComments', property='og:title')
    meta(content='Using timed SoundCloud comments to queue up photos, videos, and more', property='og:description')
    meta(content='website', property='og:type')
    meta(content='http://ontimed.co/images/ontimedcomments.png', property='og:image')
    meta(content='SoundCloud OnTimedComments', property='og:site_name')
    meta(content='http://ontimed.co', property='og:url')
    meta(content='149513585174676', property='fb:app_id')

    link(href='/images/favicon.png', rel='shortcut icon', type='images/x-icon')
    
    link(href='http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css', rel='stylesheet', type='text/css')
    link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/css/application.css', rel='stylesheet', type='text/css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://platform.twitter.com/widgets.js')
    script(src='/js/ICanHaz.min.js')
    script(src='/js/sdk.js')
    script(src='/js/application.js')
    
  body!= body
