!!!
html
  head
    title OnTimedComment

    link(href='/images/favicon.png', rel='shortcut icon', type='images/x-icon')
    
    link(href='http://cloud.webtype.com/css/c09e383b-9747-406d-8ff5-95ae1c9217e9.css', rel='stylesheet', type='text/css')
    link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/css/application.css', rel='stylesheet', type='text/css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://platform.twitter.com/widgets.js')
    script(src='/js/ICanHaz.min.js')
    script(src='/js/sdk.js')
    script(src='/js/application.js')
    
  body!= body
