@import "nib"

accent 	= #F60
dark 		= #333
text 		= #999

global-reset()

body
	color text
	font 13px Interstate Light, Interstate, Lucida Grande, Helvetica, Arial, sans-serif

a
	color dark
	text-decoration none
	&:hover
		color accent

p
	line-height 20px
	margin 10px 0

code
	background whitesmoke
	font-family Monospace
	padding 0 2px

h1, h2, h3
	color dark
	margin-bottom 10px

strong, h1, h3
	font-family Interstate, Lucida Grande, Helvetica, Arial, sans-serif

h1
	background url(/images/icon.png) 0 4px no-repeat
	border-bottom 3px solid accent
	display inline-block
	font-size 36px 
	padding-left 38px
	position relative
	text-transform uppercase
	span
		color #CCC
		font-size 13px
		position absolute
		right -40px
		top 7px

h2
	font-size 24px
	line-height 34px
	padding-bottom 25px
	a
		border-bottom 1px solid accent
		&:hover
			color accent

h3
	font-size 24px
	text-transform uppercase

#container
	margin 100px auto
	width 750px

header, footer
	background dark
	height 5px
	width 100%
	z-index 100

header
	fixed top left

footer
	fixed bottom left

.button
	background linear-gradient(top, rgba(white, 0.8) 0%, rgba(245, 245, 245, 0.4) 50%, rgba(160, 160, 160, 0.1) 100%)
	border-color rgba(black, .04) rgba(black, .08) rgba(black, .14)
	border-style solid
	border-width 1px
	border-radius 4px
	display inline-block
	font 12px Lucida Grande, Arial, sans-serif
	line-height 18px
	padding 6px 12px
	text-shadow 0 1px 0 white
	transition all 0.2s linear
	&:hover
		background-color #f3f3f3
		border-color rgba(black, .04) rgba(black, .13) rgba(black, .23)
		box-shadow inset rgba(white, 0.199219) 0px -1px 0px 0px inset, rgba(black, 0.109375) 0px 0px 4px 0px
		color dark
